body {
    min-height: 100dvh;
    margin: 0;
    /* display: grid;
    grid-template-columns: auto;
    align-content: center;
    place-items: start center; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/img/1_startscreen/mostafaelturkey36-desert-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Alfa Slab One", Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    /* position: relative; */
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Rye", Arial, Helvetica, sans-serif;
    font-size: 2.75rem;
    color: rgb(58, 13, 3);
    text-shadow: 2px 2px 1px rgb(201, 106, 18);
}

.rotate-hint {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.game_container {
    align-content: center;
    place-items: start center;
    position: relative;
    width: min(720px, 100dvw);
    aspect-ratio: 3 / 2;
    max-height: 100dvh;
}

.game-wrapper,
.start-wrapper,
.controls,
.imprint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-wrapper {
    .hud-wrapper {
        z-index: 1;
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
        gap: 10px;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        padding-inline: 40px;

        .panel {
            display: flex;
            gap: 40px;

            button {
                width: 50px;
                height: 50px;
                background-color: rgba(255, 255, 255, 0.233);
                border: 1px solid rgba(228, 228, 228, 0.925);
                border-radius: 50%;
                color: white;

                .svgThrow {
                    transform: scaleX(-1);
                    width: 25px;
                    height: 25px;
                }
            }

            button:active {
                background-color: rgba(255, 255, 255, 0.555);
            }
        }
    }

    .menu-wrapper {
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* gap: 10px; */
        /* justify-content: flex-end; */
        position: absolute;
        top: 15px;
        padding-inline: 15px;

        > div {
            width: 140px;
            display: flex;
            gap: 10px;
            /* justify-content: flex-end; */

            button {
                width: 40px;
                height: 40px;
                background-color: rgba(255, 255, 255, 0.233);
                border: none;
                border-radius: 10px;
                color: white;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            button:active {
                background-color: rgba(255, 255, 255, 0.568);
            }
        }

        .panelRight {
            justify-content: flex-end;
        }
    }

    .restart-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .restart_btn {
            z-index: 1;
            width: 100px;
            height: 50px;
            position: absolute;
            top: 75%;
            border: 2px solid rgb(114, 40, 6);
            border-radius: 10px;
            background-color: rgb(235, 161, 50);
            font-size: 18px;
            font-family: "Alfa Slab One", Arial, Helvetica, sans-serif;
            color: rgb(114, 40, 6);
        }
    }

    canvas {
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        box-shadow:
            0 4px 8px 0 rgba(88, 25, 2, 0.347),
            0 6px 20px 0 rgba(88, 20, 2, 0.409);
    }
}

.start-wrapper {
    /* z-index: 1; */
    display: flex;
    justify-content: center;

    .startscreen {
        width: 100%;
        height: 100%;
    }

    .nav-wrapper {
        position: absolute;
        bottom: 10px;
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 150px;
            height: 50px;
            font-size: 24px;
            font-family: "Alfa Slab One", Arial, Helvetica, sans-serif;
            color: rgba(0, 195, 255, 0.582);
            text-shadow: 1px 1px 1px white;
            letter-spacing: 1px;
            background-color: rgba(43, 12, 0, 0.664);
            border-radius: 15px;
            border: none;
            box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.877);
        }

        button:hover {
            font-size: 26px;
            color: rgba(254, 255, 255, 0.877);
            background-color: rgba(43, 12, 0, 0.87);
            box-shadow: 1px 2px 4px 2px rgba(239, 241, 241, 0.781);
        }
    }
}

.controls,
.imprint {
    color: rgb(233, 172, 102);
    background-color: rgb(68, 49, 38);
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 40px;
    gap: 15px;

    h2 {
        font-size: 30px;
        color: rgb(233, 172, 102);
        text-shadow: 3px 3px 3px rgb(2, 1, 0);
    }

    table {
        width: 500px;
        height: auto;
        /* background-color: aliceblue; */

        tr {
            display: flex;

            td {
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding-bottom: 20px;

                button {
                    width: 80px;
                    height: 40px;
                    font-size: 16px;
                    font-family: "Alfa Slab One", Arial, Helvetica, sans-serif;
                    color: rgb(233, 172, 102);
                    background-color: rgba(73, 56, 49, 0.87);
                    border-radius: 5px;
                    border: 2px solid grey;
                }
            }
        }
    }

    .close-btn {
        position: absolute;
        /* bottom: 35px;
        left: 35px; */
        top: 35px;
        right: 35px;
        width: 40px;
        height: 40px;
        background-color: rgb(233, 172, 102);
        font-size: 18px;
        font-family: "Alfa Slab One", Arial, Helvetica, sans-serif;
        color: rgb(68, 49, 38);
        border: none;
        border-radius: 50px;
        box-shadow: 3px 4px 2px black;
    }

    .close-btn:hover {
        background-color: rgb(211, 151, 82);
        color: rgb(37, 29, 24);
    }

    .close-btn:active {
        transform: translateY(5%);
    }
}

.hide-page,
.hide-btn {
    display: none;
}

.game-wrapper .hud-wrapper {
    display: none;
}

/* Smartphones ---------------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    h1 {
        display: none;
    }
}

/* Smartphones ---------------- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-height: 675px) {
    h1 {
        display: none;
    }
}

:fullscreen.game_container {
    width: 100vw;
    height: 100dvh;
}

@media (hover: none) and (pointer: coarse) {
    .game-wrapper .hud-wrapper {
        display: flex;
    }

    .game-wrapper .hide-cntrl {
        display: none;
    }
}

@media only screen and (max-width: 900px) and (orientation: portrait) {
    .rotate-hint {
        display: flex;
    }
}
